.add-word .col-auto{
  margin-top: -100px;
  width: 30vw;
}
.add-word small#message{
  display: none;
  color: rgb(255, 72, 72);
}
.add-word form .btn{
  width: 45%;
}
.add-word form .btn.add{
  margin-right: 10%;
}
@media (max-width: 870px){
  .add-word .col-auto{
    width: 80%;
  }
}